
.banner {
    height: var(--tamanho-banner);
    color: white;
    background-image: url('../assets/imgs/bg-jelly-fish-para-home.png');
    background-size: cover;
  }
  
  .banner .container {
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .banner .container p {
    width: 50%;
    margin: 0;
    padding: 0;
    font-size: 36px;
  }
  
  .banner .container span {
    font-weight: 800;
  }