.simulador {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.simulador .container {
  flex-direction: column;
  height: auto;
  padding: 20px;
}

.bloco {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 20px;
}

.imagem-bloco {
    width: 400px;
    height: auto;
    object-fit: cover;
}
